<?php

$config = array();
$config['sql-type']     = 'mysql';
$config['sql-host']     = '{{ configuration.db_host') }}';
$config['sql-database'] = '{{ configuration.db_name') }}';
$config['sql-username'] = '{{ configuration.db_user') }}';
$config['sql-password'] = '{{ configuration.db_pass') }}';

