<?php

global $DWBN_SSO_BASE;
global $DWBN_SSO_CLIENT_ID;
global $DWBN_SSO_CLIENT_SECRET;
global $DWBN_SSO_APP_ID;

$DWBN_SSO_BASE          = '{{ configuration.sso_base }}';
$DWBN_SSO_CLIENT_ID     = '{{ configuration.sso_client_id }}';
$DWBN_SSO_CLIENT_SECRET = '{{ configuration.sso_client_secret }}';
$DWBN_SSO_APP_ID        = '{{ configuration.sso_app_id }}';
